.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
cidades.html
/cidades_cache/
/html_files/
/pdf_files/
/lista1-cidades-br.Rproj
index_cache
cidades-gab.html
cidades-gab_cache
cidades-gab_files
/Alunos/
/faixas.jpg
/faixas.png
/faixas.ps
/faixas.svg
